@import "_vars.scss";

.site-footer {
  padding: 50px 0 43px;
  background-color: $footer-secondary;

  &__logo-wrap {
    max-width: 75px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 20px 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .main-text {
      margin: 20px 0;
      line-height: 40px;
    }
  }
  &__logo {
    width: 75px;
    height: 24px;
    background-image: url(../img/footer-logo.svg);
    background-repeat: no-repeat;
  }
  .main-text {
    color: #fff;
    opacity: 1;
  }
  .footer-btn {
    display: inline-block;
  }
  .form-field {
    background-color: $form-light;
    margin-right: 15px;
  }
  &__form {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}
.sub-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25px 0 0;
  &__nav {
    // opacity: 0.2;
    // border-top: 1px solid #ffffff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    a {
      font: normal 18px/28px "FiraSans";
      margin-right: 43px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__social-net {
    display: flex;
    justify-content: flex-end;
    a {
      font-size: 16px;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  a {
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    &:hover {
      color: #fff;
    }
  }
}
