@import "_vars.scss";

.site-header {
  width: 100%;
  padding: 59px 0 60px;
  display: inline-block;
  //   margin-top: 59px;

  &__logo {
    width: 75px;
    height: 24px;
    background-image: url(../img/logo.svg);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }
  &__search {
    font-size: 20px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $btn-blue;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__menu-btn {
    width: 34px;
    height: 24px;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    &:hover {
      .site-header__menu-icon {
        &::after {
          width: 34px;
        }
      }
    }

    &.is-open {
      &:hover {
        .site-header__menu-icon {
          &::after,
          &::before {
            width: 20px;
          }
        }
      }
      .site-header__menu-icon {
        &::after,
        &::before {
          right: 50%;
          transform-origin: center;
        }
        &::after {
          transform: rotate(135deg) translateY(-50%);
          width: 34px;
          bottom: 4px;
        }
        &::before {
          transform: rotate(-135deg) translateY(-50%);
          bottom: 4px;
        }
      }
    }
  }
  &__menu-icon {
    width: 34px;
    height: 12px;
    display: inline-block;
    position: relative;

    &::after,
    &::before {
      content: "";
      height: 3px;
      position: absolute;
      background-color: #000;
      right: 0;
      transition: all 0.3s ease;
    }

    &::after {
      width: 18px;
      bottom: 0;
    }

    &::before {
      width: 34px;
      bottom: 8px;
    }
  }
}
