@import "_vars.scss";

.site-header {
  width: 100%;
  padding: 59px 0 60px;
  display: inline-block;
  position: relative;

  .navigation-menu {
    position: absolute;
    z-index: 10000;
    background-color: $section-light;
    top: 100%;
    left: 0;
    // transform: translate(-50%, -50%);
    height: 0;
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin-top: 15px;
    }

    &.menu-opened {
      height: calc(100vh - 143px);
    }
  }

  &__logo {
    width: 75px;
    height: 24px;
    background-image: url(../img/logo.svg);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }
  &__search {
    font-size: 20px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $btn-blue;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__menu-btn {
    width: 34px;
    height: 24px;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    &:hover {
      .site-header__menu-icon {
        &::after {
          width: 34px;
        }
      }
    }

    &.is-open {
      &:hover {
        .site-header__menu-icon {
          &::after {
            transform: rotate(135deg) scale(0.7);
          }
          &::before {
            transform: rotate(-135deg) scale(0.7);
          }
        }
      }
      .site-header__menu-icon {
        &::after {
          transform: rotate(135deg);
          width: 34px;
          bottom: 4px;
        }
        &::before {
          transform: rotate(-135deg);
          bottom: 4px;
        }
      }
    }
  }
  &__menu-icon {
    width: 34px;
    height: 12px;
    display: inline-block;
    position: relative;

    &::after,
    &::before {
      content: "";
      height: 3px;
      position: absolute;
      background-color: #000;
      right: 0;
      transition: all 0.3s ease;
    }

    &::after {
      width: 18px;
      bottom: 0;
    }

    &::before {
      width: 34px;
      bottom: 8px;
    }
  }
}
