@import "_vars.scss";

.section-head {
  position: relative;
  min-height: calc(100vh - 143px);
  &__content {
    max-width: 474px;
    padding-top: 67px;
  }

  .main-title {
    margin-bottom: 30px;
  }
  .main-text {
    margin-bottom: 30px;
  }
  &__placeholder {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(../img/placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}

.section-reviews {
  padding-top: 137px;
  .additional-title {
    margin-bottom: 30px;
  }
  .main-text {
    max-width: 444px;
    margin-top: 20px;
  }
  &__user {
    margin-top: 61px;
    display: flex;
    align-items: center;

    .main-text {
      margin: 0;
    }
  }
  &__user-face {
    margin-right: 31px;
  }
  &__placeholder {
    background-image: url(../img/placeholder-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 475px;
    height: 564px;
  }
}
