@import "_vars.scss";

.section-head {
  position: relative;
  min-height: calc(100vh - 143px);
  &__content {
    max-width: 474px;
    padding-top: 67px;
  }

  .main-title {
    margin-bottom: 30px;
  }
  .main-text {
    margin-bottom: 30px;
  }
  &__placeholder {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(../img/placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}

.section-reviews {
  padding: 137px 0 71px;
  .additional-title {
    margin-bottom: 30px;
  }
  .main-text {
    max-width: 444px;
    margin-top: 20px;
  }
  &__user {
    margin-top: 61px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .main-text {
      margin: 0;
    }
  }
  &__user-face {
    margin-right: 31px;
  }
  &__placeholder {
    background-image: url(../img/placeholder-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 475px;
    height: 564px;
    margin-bottom: 25px;
  }
}

.super-easy {
  padding: 90px 0 101px 0;
  .main-text {
    margin-top: 13px;
    margin-bottom: 62px;
  }
  .additional-title {
    padding-top: 38px;
  }
  &__content {
    max-width: 475px;
    margin-right: 0;
    margin-left: auto;
  }
  &__icon-wrap {
    width: 54px;
    height: 54px;
    background-color: $icon-wrap;
    border-radius: 50%;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $icon-blue;
    margin-right: 29px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  &__images-wrap {
    position: relative;
    padding-top: 99px;
  }
  &__images-under {
    position: absolute;
    top: 0;
    right: 95px;
  }
  &__images-above {
    position: relative;
    box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
    margin-right: 0;
    margin-left: auto;
    display: block;
    width: 100%;
    max-width: 350px;
  }
}

.our-clients {
  padding: 88px 0 0 0;
  background-color: #fff;
  .with-dash {
    opacity: 1;
  }
  .additional-title {
    margin-bottom: 20px;
  }
  .main-text {
    margin-top: 17px;
  }
  &__partners {
    padding: 41px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      display: inline-block;
      margin: 41px 0;
    }
  }
}

///////////////////

.testimonials-section {
  padding: 100px 0 88px;
  .slider-container {
    position: relative;
  }
  .slider-controls {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .additional-title {
    margin-top: 73px;
    margin-bottom: 121px;
  }
  .main-text {
    margin-top: 13px;
  }
  .slick-slide {
    margin-right: 50px;
  }
  .slick-dots {
    margin: 30px 0 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      list-style: none;

      &:last-child {
        button {
          margin-right: 0;
        }
      }
      &.slick-active {
        button {
          background-color: $btn-orange;
        }
      }
    }
    button {
      font-size: 0;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: inline-block;
      padding: 0;
      margin-right: 55px;
      border: none;
      cursor: pointer;
      background-color: $slick-light;
    }
  }
}

.services-section {
  padding: 71px 0;
  overflow: hidden;

  &__slider-controls {
    bottom: 0;
    left: 0;
    margin-top: 50px;
  }

  img {
    margin-right: 15px;
  }

  &__slide-content {
    position: relative;
    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .additional-title {
    max-width: 539px;
    margin-top: 40px;
  }
  &__slider-wrap {
    padding-top: 100px;
    width: 300%;
  }
  &__nav-wrap {
    display: flex;
    justify-content: flex-end;
    padding-top: 68px;
  }
  &__nav {
    a {
      width: 190px;
      display: inline-block;
      margin-bottom: 21px;
      opacity: 0.5;
    }
  }
}

.portfolio-section {
  padding: 101px 0 124px;
  .mixitup-control-active {
    color: $icon-blue;
    opacity: 1;
  }
  img {
    max-width: 100%;
  }
  &__item {
    position: relative;
    margin-bottom: 30px;
    bottom: 0;
    box-shadow: 0 0 0 transparent;
    transition: all 0.4s ease;
    &:hover {
      bottom: 20px;
      box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
    }
  }
  .additional-title {
    margin: 40px 0 108px;
  }
  &__btn-wrap {
    padding-top: 70px;
    display: flex;
    justify-content: flex-end;
  }
  &__description {
    padding-top: 32px;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 32px;
  }
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s ease;
    &:hover {
      border-radius: 50%;
    }
  }
}
