/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .site-footer {
    &__form {
      justify-content: flex-start;
    }
  }
  .sub-footer {
    &__nav {
      justify-content: center;
    }
    &__social-net {
      justify-content: center;
    }
  }
  .section-head {
    &__content {
      position: relative;
      z-index: 1;
      padding-top: 30%;
      padding-bottom: 30%;
    }
    &__placeholder {
      width: 100%;
    }
    .main-title {
      color: #fff;
    }
    .main-text {
      color: #fff;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .super-easy {
    &__images-under {
      right: 50px;
    }
  }
  .portfolio-section {
    .additional-title {
      margin-bottom: 54px;
    }
    &__btn-wrap {
      padding: 0 0 50px;
      justify-content: space-between;
    }
    &__button {
      justify-content: flex-start;
    }
  }
  .testimonials-section {
    .additional-title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
      margin-top: 30px;
    }
    .third-title {
      margin-top: 25px;
    }
    img {
      max-width: 100%;
      max-width: 0 auto;
    }
    .slider-controls {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .sub-footer {
    &__nav {
      flex-direction: column;
    }
  }
  .site-footer {
    &__content {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .our-clients {
    &__partners {
      a {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
  .site-footer {
    .form-field {
      margin: 0;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .section-reviews {
    &__user {
      justify-content: center;
    }
    &__user-face {
      margin: 0 0 10px 0;
    }
    &__user-name {
      text-align: center;
    }
  }
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
