// $main-color: #f39f18; пример переменной

$section-light: #f4f4f4;
$dark-title: #151515;
$dark-text: #222222;
$btn-blue: #4737ff;
$btn-orange: #ef8e70;
$play-color: #f96241;
$form-light: #f5f4ff;
$footer-btn: #c6b393;
$slick-light: #c4c4c4;
$footer-secondary: #515151;
$icon-wrap: #e5e5e5;
$icon-blue: #1434e1;
$awwards-dark: #000000;
